

#container
{
	text-align: left;
	height:auto;
	width:1000px;
	margin-left: auto ;
	margin-right: auto ;
	margin-top: 2px;
	padding:5px;
	background-color:white;
	position:relative;
	color:#9966CC;
}

#header
{
	width:100%;
	height:200px;
	background:url('../img/header.jpg') 0 0 no-repeat;
}

#content
{
	padding-top:5px;
	display:block;
	width:100%;
}

#content #nav
{
	display:block;
	float:left;
	width:180px;
	height:auto;
	background:url('../img/navHeading.jpg') top left no-repeat;
}

#content  #nav ul
{
	padding:0;
	margin:20px 0 0 0;
}

#content  #nav ul li
{
	margin:1px;
	padding:2px 1px 2px 20px;
	width:auto;
	font-size:1.2em;
	font-weight: 900;
	list-style-type:none; 
	background:#EAEAEA url('../img/snow.gif') center left no-repeat;
}
#content  #nav ul li a
{
	text-decoration:none;
	color:#9966CC;
}

#content #nav img
{
	margin-top:20px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	border:0px;
	display:block;
	text-align:center;
}

#content #nav a:hover
{
	text-decoration:underline;
}

#content #mainFrame 
{
	float:right;
	padding:20px 5px 5px 5px;
	width:802px;
	border-left:4px solid #BA83CA;
}

.rightTopFlower
{
	background: url('../img/rightFlower.gif') top right no-repeat;
}

#content #mainFrame h2,#content #mainFrame h2.alignLeft
{
	text-align:center;
	margin-bottom:1em;
	clear:both;
	width:100%;
}
#content #mainFrame h2.alignLeft
{
	text-align:left;
}

#content #mainFrame p
{
	padding:5px;
}

#content #mainFrame  .ulHeading
{	
	font-weight:bold;
}

#content #mainFrame p.text,
{
	font-size:1em;
	font-weight: 400;
	font-family: cursive;
	letter-spacing:0.01em;
	word-spacing:0.1px;
}

#content #mainFrame p.item
{
	text-indent:0.5em;
	clear:both;
	height:auto;
	margin:0;
}

#content #mainFrame span.label, #content #mainFrame span.label-top
{
	text-indent:0.5em;
	font-family:"Times New Roman",Georgia,Sans-serif;
	display: inline-block;
	width:100px;
	line-height:1em;
	vertical-align:middle;
}

#content #mainFrame span.label-top
{
	vertical-align:top;
}

#content #mainFrame form textarea
{
	width:70%;
}
 
#float-div
{
	width:140px;
	height:129px;
	margin:2px 2px 2px 10px;
	position:absolute;
	display:none;
	top:0px;
	left:5px;
	background-image: url(../img/contact.jpg);
}

/** contact page **/
#content #mainFrame #contactInfo
{
	display:block;
	padding:5px 0 5px 200px;
	background: #EAEAEA url('../img/sofa.gif') center left no-repeat;
	margin:10px;
}

#content #mainFrame #contactInfo ul
{
	margin:5px 0 0 5px;
	padding:0 0 5px 0;
}

#content #mainFrame #contactInfo ul li
{
	list-style-type:none; 
	padding:0;
	margin:0;
}

#sendEmailResult.postback
{
	font-size:2em;
	font-weight:500;
	color:red;
	margin:0 0 0 0;
	line-height:0.5em;
}

/** footer **/

#footer 
{
	color:white;
	width:1000;
	height:175px;
	clear:both;
	background:url('../img/footer.jpg') 0 0 no-repeat;
}

#footer p
{
	position: absolute;
	top: 150px;
	right: 20px;
	font-size:0.8em;
}


