html {
	margin: 0;
	padding: 0;
	}
	
body { 
	font-style:  sans-serif;
	font-size: 1em;
	line-height:1.3em;
	text-align: center;
	background-image: url('../img/bg.jpg');
	}

#container
{
	text-align: left;
	height:auto;
	width:800px;
	margin-left: auto ;
	margin-right: auto ;
	margin-top: 1px;
	padding:1px;
	background-color:white;
	position:relative;
}

#header
{
	width:100%;
	height:200px;
	background:url('../img/header.jpg') 0 0 no-repeat;
}

#content
{
	width:800px;
	height:auto;
	clear:both;
}

#content #nav
{
	padding:10px 0px 0px 10px;
	float:left;
	width:130px;
	height:auto;
}

#content #nav a
{
	color:#9966CC;
	padding:5px;
	line-height:1.4m;
	font-size:1.2em;
	font-weight: 900;
	display:block;
}

#content #mainFrame 
{
	float:right;
	width:630px;
	margin-top:5px;
	padding:0px 5px 0px 15px;
	border-left:1px solid #9966CC;
 
}

#content #mainFrame p.heading
{
	font-size:1.1em;
	font-weight: 900;
	font-family: cursive;
	text-align:left;
	color:#9966CC;
}

#content #mainFrame p.text, #content #mainFrame li
{
	font-size:1.1em;
	font-weight: 400;
	font-family: cursive;
	color:#9966CC;
	letter-spacing:0.01em;
	word-spacing:0.1px;
}

#footer  
{
	padding:1px;
}
#footer  p
{
	font-size:0.8em;
	line-height:1px;
	text-align:center;
	
}

#float-div
{
	width:87px;
	height:82px;
	margin:2px;
	position:absolute;
	display:none;
	top:0px;
	left:0px;
	background-image: url(../img/contact.jpg);
}

/** Enter Page **/

#enter_content
{
	background-image: url(../img/Enter.jpg);
	width:800px;
	height:600px;
	padding:1px;
}

#enter_content #enter_flash
{
	position: relative;
	width:300px;
	height:200px;
	margin-top:150px;
	margin-left:270px;
}

#enter_content span
{
	position:absolute;
	margin-bottom:0px;
	top:500px;
	right:50px;
	width:107px;
	height:42px;
}

#enter_content #enter_button img
{
	border: 0px;
}

/** shared **/
#banner
{
	clear:both;
	width:100%;
	height:50px;
	background:url('../img/footer.jpg') 0 0 no-repeat;
}

.phone
{
	text-decoration: underline;
}