html {
	margin: 0;
	padding: 0;
	}
	
body { 
	font-style:  sans-serif;
	font-size: 1em;
	line-height:1.3em;
	text-align: center;
	background-image: url('../img/bg.jpg');
	}

#container
{
	text-align: left;
	height:auto;
	width:800px;
	margin-left: auto ;
	margin-right: auto ;
	margin-top: 1px;
	padding:1px;
	background-color:white;
	position:relative;
}

#header
{
	width:100%;
	height:200px;
	background:url('../img/header.jpg') 0 0 no-repeat;
}

#content
{
	width:800px;
	height:auto;
	clear:both;
}

#content #nav
{
	margin:15px 0 0 5px;
	padding-top:15px;
	float:left;
	width:150px;
	height:auto;
	background:url('../img/navHeading.jpg') top center no-repeat;
}

#content #nav>a
{
	padding:2px 0px 2px 25px;
	margin:1px;
	color:#9966CC;
	font-size:1.2em;
	font-weight: 900;
	display:block;
	text-decoration:none;
	background:#EAEAEA url('../img/snow.gif') center left no-repeat;
}

#content #nav img
{
	margin-top:20px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	border:0px;
}

#content #nav a:hover
{
	text-decoration:underline;
	font-size:1.2em;
}

#content #mainFrame 
{
	float:right;
	width:610px;
	margin-top:10px;
	padding:0px 5px 0px 15px;
	border-left:4px solid #BA83CA;
	background: url('../img/rightFlower.jpg') top right no-repeat;
}

#content #mainFrame p.heading
{
	font-size:1.1em;
	font-weight: 900;
	font-family: cursive;
	text-align:left;
	color:#9966CC;
}

#content #mainFrame p.text, #content #mainFrame li
{
	font-size:1em;
	font-weight: 400;
	font-family: cursive;
	color:#9966CC;
	letter-spacing:0.01em;
	word-spacing:0.1px;
}

#content #mainFrame p.image
{
	text-align:center;
}

#content #mainFrame #contactInfo
{
	display:block;
	padding-left:200px;
	background: url('../img/sofa.gif') center left no-repeat;
	border-bottom:2px solid #BA83CA;
}


#content #mainFrame p.item
{
	line-height:1px;
	color:#9966CC;
	text-indent:0.5em;
}

#content #mainFrame span.label, #content #mainFrame span.label-top
{
	text-indent:0.5em;
	font-family:"Times New Roman",Georgia,Sans-serif;
	font-style:italic;
	display: inline-block;
	width:100px;
	vertical-align:middle;
}

#content #mainFrame span.label-top
{
	vertical-align:top;
}
#content #mainFrame form textarea
{
	width:70%;
	height:120px;
}

#footer  
{
	padding:1px;
}

#footer  p
{
	font-size:0.8em;
	line-height:1px;
	text-align:center;
}

#float-div
{
	width:120px;
	height:112px;
	margin:2px 2px 2px 10px;
	position:absolute;
	display:none;
	top:0px;
	left:10px;
	background-image: url(../img/contact.jpg);
}

/** contact page **/
#sendEmailResult.postback
{
	font-size:2em;
	font-weight:500;
	color:red;
	margin:0 0 0 0;
}

/** Enter Page **/

#enter_content
{
	background-image: url(../img/Enter.jpg);
	width:800px;
	height:600px;
	padding:1px;
}

#enter_content #enter_flash
{
	position: relative;
	width:300px;
	height:200px;
	margin-top:150px;
	margin-left:220px;
}

#enter_content span
{
	position:absolute;
	margin-bottom:0px;
	top:480px;
	right:90px;
	width:107px;
	height:42px;
}

#enter_content #enter_button img
{
	border: 0px;
}

#enter_content #enter_button a:hover
{
	border-bottom: 2px solid #9966CC;
}

/** shared **/
#banner
{
	clear:both;
	width:100%;
	height:50px;
	background:url('../img/footer.jpg') 0 0 no-repeat;
}

.phone
{
	text-decoration: underline;
}