/*---------------------------------------------------------------------------------------------
release 1.1
author: chao jiang
email: steven@happyolina.com.au
website: http://www.happyolina.com.au
---------------------------------------------------------------------------------------------*/

/** for production list page */
#product-list
{
	width:98%;
	padding:10px;
	color:#9900ff;
}

#category
{
	height:auto;
	margin-top:15px;
	display:table;
	position:relative;
	padding:5px;
}

#category >a
{
	background: url(../img/icon/down.png) no-repeat 0 0;
	height:20px;
	width:auto;
	padding:5px 20px 5px 30px;
	display:table-cell;
	vertical-align:middle;
	color:#9900ff;
}
 
#product-list >div>div
{
	margin:1em;
	font-weight: bold;
	padding:1em	;
	vertical-align:middle;
	overflow: auto;
	width: 90%
}

#product-list >div>div>a
{
	display:inline;
	float:left;
	height:auto;
}


#product-list >div>div>div
{
	display:inline;
	margin-left:1.2em;
	margin-top:0;
	padding:2em 0 0 0;
	line-height:0.5em;
	vertical-align:top;
	float:left;
	zoom:1;
}

#product-list >div>div>div p
{
	line-height:0.5em;
	padding:0;
	margin:10px;
}


#product-list h2
{
	margin:1.5em 0 0 0;
	display:block;
	height:auto;
	width:100%;
}

#product-list h4
{
	margin:0.5em 0 2em 0;
	display:block;
	height:auto;
	width:100%;
}

 #preview
 {
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
}


#product-list img.size230by130
{
width:230px;
height:130px;
}
#product-list img.size180by130
{
width:180px;
height:130px;
}
#product-list img.size140by190
{
width:140px;
height:190px;
}
#product-list img.size170by120
{
width:170px;
height:120px;
}
#product-list img.size190by140
{
width:190px;
height:140px;
}
#product-list img.size140by120
{
width:170px;
height:120px;
}
#product-list img.size120by150
{
width:120px;
height:150px;
}

#toTop
{
	position:absolute;
	bottom:200px;
	position:absolute;
	right:25px;
}

#product-list .underLine span.price
{
	color:#FF6600;
}	

#hotDeal
{
	display:block;
	height:40px;
	background-color:pink;
	width:800px;
	text-align:center;
	padding:5px 0 5px 0;
	margin-top:1em;
	border:1px solid red;
	
}

#hotDeal a
{
	margin:10px;
	color:red;
	font-size:2em;
}
 
#hotDealContent
{
	font-family:gorgia;
	width:800px;
	border-left:1px solid red;
	border-right:1px solid red;
	border-bottom:1px solid red;
	padding:0;
	color:red;
	
}
#hotDealContent>p
{
font-size:1.5em;
	margin:0;
	padding:0;
	margin-left:1em;
}

#hotDealContent ul
{
	margin:0;
	padding:0;
	list-style:circle inside url(../img/icon/target.png);
}

#hotDealContent ul li
{
	padding:0 0 0 2em;
	text-indent:15px;
	background-position: 0 0;
}