#product-list
{
	width:98%;
	padding:10px;
}

#category
{
	height:40px;
	margin-top:15px;
	display:table;
	text-align:center;
}

#category >div
{
	background:url(../img/icon/foot.jpg) 0 0 no-repeat;
	height:auto;
	width:auto;
	padding-left:50px;
	padding-right:5px;
	display:table-cell;
	vertical-align:middle;
}
#category >div a
{
	color:#9900ff;
}
 
#product-list >div>div
{
	margin:10px;
	width:98%;
	height:auto;
	font-weight: bold;
	height:auto;
	display:table;
}

#product-list >div>div.extra
{
	margin:10px;
	width:98%;
	height:auto;
	font-weight: bold;
	height:320px;
}

#product-list >div>div p
{
	margin-top:1.2em;
	color:#9900ff;
	display:table-cell;
	verical-align:middle;
}

#product-list >div>div p:first-child
{
	margin-top:2em;
	color:red;
	
	
}

#product-list >div>div>a
{
	float:left;
	width:auto;
	display:block;
}

#product-list >div>div>p
{
	float:left;
	width:45%;
	margin-top:1.5em;
	line-height:0.2em;
}

#product-list  img
{
	width:230px;
	height:130px;
	margin:10px 0 0 5px;
}

#product-list img.long
{
	width:250px;
	height:300px;
	margin:10px 0 0 5px;
}

#product-list h2
{
	text-align:center;
	margin-top:2em;
	padding-top:1.2em;
	display:block;
	height:auto;
}

 #product-list  h4
 {
	text-align:center;
 }
  