#product-list
{
	width:98%;
	padding:10px;
	height:auto;
}

div.category
{
	height:60px;
	width:100%;
	clear:both;
	margin-top:15px;
}

div.category div
{
	background:url(../img/icon/foot.jpg) 0 0 no-repeat;
	height:50px;
	width:150px;
	float:left;
	padding-left:50px;
}
 
div.category a:hover
{
	cursor:hand;
}

div.category a
{
	color:#9900ff;
}

#product-list >div
{
	width:100%;
	margin:1px;
	display:block;
}
#product-list >div>div
{
	float:left;
	margin:10px;
	width:98%;
	height:auto;
	font-weight: bold;
}

#product-list >div>div p
{
	margin-top:1.2em;
	color:#9900ff;
}

#product-list >div>div>a, #product-list >div>div>p
{
	float:left;
	width:45%;
}

#product-list >div img
{
	width:300px;
	height:200px;
	margin:10px 10px 0 5px;
	valign:middle;
}

#product-list >div img.long
{
	width:250px;
	height:300px;
	margin:10px;
}

#product-list h2
{
	text-align:center;
	border-top:2px solid red;
	margin-top:2em;
	padding-top:1.2em;
}

 #product-list  h4
 {
	text-align:center;
 }