html 
{
	margin: 0;
	padding: 0;
}
	
body 
{ 
	font-style:  sans-serif;
	font-size: 1em;
	line-height:1.3em;
	text-align: center;
	background-image: url('../img/bg.jpg');
}

img
{
	border: 0px;
}

.phone, .email
{
	text-decoration: underline;
	font-weight:bold;
	color:#9966CC;
}

.floatLeft
{
	float:left;
	margin:5px;
}

.floatRight
{
	float:right;
	margin:5px;
}

.clearBoth
{
	clear:both;
}

.textOnRight
{
	width:550px;
	float:right;
	margin:5px;
}

.textOnLeft
{
	width:560px;
	float:left;
	margin:5px;
}

 
 
hr
{
	margin:10px;
	color:#9966CC;
}
