html {
	margin: 0;
	padding: 0;
	}
	
body { 
	font-style:  sans-serif;
	text-align: center;
	background-image: url('../img/bg.jpg'); 
	}

#container
{
	text-align: left;
	background-image:url('../img/bg_main_frame.jpg');
	height:620px;
	width:877px;
	margin-left: auto ;
	margin-right: auto ;
}

div #content
{
	width:500px;
	height:350px;
	padding:5px 8px 5px 8px;
	margin-top:130px;
	margin-left:200px;
	overflow-x:hidden;
	overflow-y:visible;
}

#content p.heading
{
	font-size:25px;
	font-weight: 900;
	font-family: cursive;
	text-align:center;
	color:#9966CC;
	text-transform:capitalize;
}

#content p.text
{
	font-size:1.2em;
	font-weight: 600;
	font-family: cursive;
	color:#9966CC;
	text-transform:capitalize;
	text-indent:1em;
}
