/*---------------------------------------------------------------------------------------------
release 1.1
author: chao jiang
email: steven@happyolina.com.au
website: http://www.happyolina.com.au
---------------------------------------------------------------------------------------------*/

/** for production list page */
#product-list
{
	width:98%;
	padding:10px;
}

#category
{
	height:40px;
	margin-top:15px;
	display:table;
	text-align:center;
}

#category >div
{
	background:url(../img/icon/foot.jpg) 0 0 no-repeat;
	height:auto;
	width:auto;
	padding-left:50px;
	padding-right:5px;
	display:table-cell;
	vertical-align:middle;
}
#category >div a
{
	color:#9900ff;
}
 
#product-list >div>div
{
	margin:10px;
	width:98%;
	height:auto;
	font-weight: bold;
	height:auto;
	display:table;
}


#product-list >div>div p
{
	margin-top:1.2em;
	margin-left:1.2em;
	color:#9900ff;
	display:table-cell;
	vertical-align:middle;
}

#product-list >div>div>a
{
	float:left;
	width:auto;
	display:block;
	padding:0;
}

#product-list  img
{
	width:230px;
	height:130px;
	margin:0;
}
#product-list img.long
{
	width:150px;
	height:200px;
	margin:0;
}

#product-list img.square
{
	width:150px;
	height:150px;
	margin:0;
}

#product-list >div>div>p
{
	float:left;
	width:45%;
	margin-top:0.1em;
	line-height:0.1em;
}

#product-list h2
{
	margin-top:2em;
	padding-top:1.2em;
	display:block;
	height:auto;
}
 
 #preview
 {
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
}

#product-list a.preview +p
{
	margin-top:50px;
}
 